<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head th:replace="fragments :: head(title=~{::title/text()})">
		<title th:text="#{form.title}">Messages : Create</title>
	</head>
	<body>
		<div class="container">
			<div th:replace="fragments :: navbar"></div>
			<div class="float-right mt-2">
				<a class="btn btn-primary btn-sm" th:href="@{/list}" href="messages.html" th:text="#{form.messages}"> Messages </a>
			</div>
			<h4 class="float-left mt-2" th:text="#{form.title}">Messages : Create</h4>
			<div class="clearfix"></div>
			<form id="messageForm" th:action="@{/create}" th:object="${message}" action="/create" method="post">
				<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
					<p th:each="error : ${#fields.errors('*')}" class="m-0" th:text="${error}">Validation error</p>
				</div>
				<input type="hidden" th:field="*{id}" th:class="${'form-control' + (#fields.hasErrors('id') ? ' is-invalid' : '')}"/>
				<div class="form-group">
					<label for="summary" th:text="#{form.summary}">Summary</label>
					<input type="text" th:field="*{summary}" th:class="${'form-control' + (#fields.hasErrors('summary') ? ' is-invalid' : '')}">
				</div>
				<div class="form-group">
					<label for="text" th:text="#{form.message}">Message</label>
					<textarea th:field="*{text}" th:class="${'form-control' + (#fields.hasErrors('text') ? ' is-invalid' : '')}"></textarea>
				</div>
				<button type="submit" class="btn btn-primary" th:text="#{form.submit}">Submit</button>
			</form>
		</div>
	</body>
</html>
