<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head th:replace="fragments :: head(title=~{::title/text()})">
		<title th:text="#{view.title}">Messages : View</title>
	</head>
	<body>
		<div class="container">
			<div th:replace="fragments :: navbar"></div>
			<div class="float-right mt-2">
				<a class="btn btn-primary btn-sm" href="list.html" th:href="@{/list}" th:text="#{view.messages}">Messages</a>
			</div>
			<h4 class="float-left mt-2" th:text="#{view.title}">Messages : View</h4>
			<div class="clearfix"></div>
			<div class="alert alert-success" th:if="${globalMessage}" th:text="#{${globalMessage}}">Some Success message
			</div>
			<div class="card">
				<div class="card-body">
					<h4 class="card-title" th:text="${message.id + ': ' + message.summary}">123 - A short summary...</h4>
					<h6 class="card-subtitle mb-2 text-muted" th:text="${#calendars.format(message.created)}">July 11, 2012 2:17:16 PM CDT</h6>
					<p class="card-text" th:text="${message.text}">A detailed message that is longer than the summary.</p>
					<a class="card-link" href="messages" th:href="@{'/delete/' + ${message.id}}" th:text="#{view.delete}">delete</a>
					<a class="card-link" href="form.html" th:href="@{'/modify/' + ${message.id}}" th:text="#{view.modify}"> modify</a>
				</div>
			</div>
		</div>
	</body>
</html>
